.contenedor {
  background-color: #f2f2f2; 
  padding: 0px;
}

.encabezado {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 0;
}

.tarjetas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  gap: 20px;
}

.tarjeta {
  background-color: hsl(145, 91%, 56%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease, font-size 0.3s ease;
  padding: 10px;
  margin-right: 20px;
}

.tarjeta:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px hwb(229 0% 0% / 0.897);
  font-size: 18px;
}

.calificacion {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.comentario {
  font-size: 12px;
  margin-top: 5px;
}

.tarjeta::before {
  content: '';
  display: block;
  height: 3px;
  background-color: #fcfcfc;
}
