.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .top-navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    background-color: #4caf50;
    color: white;
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-right: 10px; 
  }
  
  .user-icon {
    font-size: 20px; 
  }
  
  .username {
    font-weight: bold;
    margin-left: 5px; 
  }
  
  .main-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #4caf50;
    padding: 10px;
    color: white;
    width: 200px;
    height: 100vh;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
  }
  
  .vertical-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .option {
    cursor: pointer;
    padding: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .option:hover {
    background-color: #357a38;
  }
  