.card-contenedora-login{
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user{
  width: 100px;
  height: 70px;
}

.campos{
  margin-bottom: 10px;
  background: white;
  width: 80%;
  border: none;
  border-bottom: 2px solid #3498db; 
  padding: 10px;
  font-size: 16px;
  color: black; 
  outline: none; 
  transition: border-color 0.3s;
}

.campos:focus {
  border-color: #ff5733; 
}

.ok{
  background-color: rgba(35, 185, 22);
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}

.cancel{
  background-color: red;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 400px;
  background-color: lightgray;
  margin-right: 5px;
  border-radius: 10px;
}

.card-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 400px;
  background-color: lightgray;
  margin-left: 5px;
  border-radius: 10px;
}

.contenedor-botones{
  display: flex;
  flex-direction: row;
}

.inferior {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(35, 185, 22);
  padding: 10px;
  height: 100px;
  z-index: 1;
}

.imagen-izquierda {
  position: absolute;
  left: 0;
  top: 50%; 
  width: 150px;
  height: 150px;
  transform: translateY(40%); 
  z-index: 2;
}

.imagen-derecha {
  position: absolute;
  right: 0;
  top: 50%; 
  width: 150px;
  height: 150px;
  transform: translateY(40%); 
  z-index: 3;
}
