/* Estilos para el contenedor */
.container_login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4caf50; 
  }

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #4caf50;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    width: 400px;
    text-align: center;
  }
  
  .card h2 {
    margin: 0;
    font-size: 24px;
    margin-bottom: 20px;
    color: #4caf50;
  }
  
  .card input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .card button {
    width: 85%;
    background-color: #008000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .card p {
    margin-top: 10px;
    cursor: pointer;
    color: #4caf50;
  }
  
  .card .registro {
    display: none;
  }
  
